body {
  font-family: Arial, sans-serif;
  background-color: #A7BBFF;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color: #3D69FC;
}

.calculadora {
  width: 314px;
  margin: 0 auto;
  background-color: #3DA6FC;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  background-color: #e0e4f2;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #A6BBFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #bfcdfd;
}

input[type="button"]:last-child {
  margin-right: 0;
}
